<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Spring boot demo</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">        
    </head>
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
        
        <script>
            $(document).ready(function(){
                $('#btnProducts').click(function(){
                    fetch('http://localhost:8000/products')
                            .then(function(response){
                                return response.json();
                    })
                            .then(function(json){
                        for(var i=0; i<json.length; i++){
                            var productDiv = document.createElement('div');
                            var productString = 'Product' + json[i].name + '<br/>';
                            productDiv.innerHTML = productString;
                            $('#productsContainer').append(productDiv);
                        }
                            })
                });
            });
        </script>
    <body>
        <div>Hello from spring boot</div>
        <div th:if="${name != null}">
            <div th:text="${name}"></div>
        </div>        
        <button id="btnProducts"> Load Products</button>
        <div id="productsContainer"></div>
    </body>
</html>
